.searchResult-top-container {
  background-color: gray;
  height: 30vh;
}

.searchResult-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searchResult-searchBox {
  width: 60%;
}

.searchResult-tagBox {
  width: 62%;

}

.searchResult-dropdown-button1 {
  margin: 1rem 0;
}

.searchResult-dropdown-button2 {
  margin: 1rem 0;
  text-align: right;
}

.searchResult-dropdown {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.searchResult-pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}